@import "tailwindcss";

@theme {
  --color-toska: rgba(55, 161, 161, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-collection-1-color: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-collection-1-2: rgba(253, 149, 70, 1);
  --color-yellow: rgba(245, 185, 95, 1);
  
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

@layer base {
  html {
    font-size: 3.72vw; /* Scales text proportionally. At 430px screen, 1rem = 16px. At 360px screen, 1rem = 13.4px */
  }
  @media (min-width: 430px) {
    html {
      font-size: 16px;
    }
  }
  @media (max-width: 320px) {
    html {
      font-size: 12px;
    }
  }

  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}